<% content_for :title, "New contact" %>

<h1>New contact</h1>
<div class="container">
  <%= render "form", contact: @contact %>
</div>
<br>

<div>
  <%= link_to "Back to contacts", contacts_path %>
</div>
